{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">User Management</h2>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addUserModal"
    >
      Add User
    </button>
  </div>

  <div class="col-md-6 mx-auto d-flex justify-content-center">
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Is Admin</th>
          <th>Is Active</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.user_id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.is_admin }}</td>
          <td>{{ user.is_active }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#updateUserModal{{ user.user_id }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                />
              </svg>
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#deleteUserModal{{ user.user_id }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash3-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
                />
              </svg>
            </button>
          </td>
        </tr>

        <!-- Hidden modal for delete confirmation -->
        <div class="modal fade" id="deleteUserModal{{ user.user_id }}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>
              <form action="/users/delete/{{ user.user_id }}" method="post">
                <div class="modal-body">
                  <p>
                    Are you sure you want to delete the user: {{ user.username
                    }}? This action cannot be reverted 🗑️
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-danger">Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Hidden modal for update user -->
        <div class="modal fade" id="updateUserModal{{ user.user_id }}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Update User</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                ></button>
              </div>
              <form
                method="post"
                action="/users/update/{{ user.user_id }}"
                novalidate
              >
                <div class="modal-body">
                  <div class="form-group mb-3">
                    <label for="name">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      name="username"
                      value="{{ user.username }}"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label for="name">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      value="{{ user.email }}"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label for="name">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Password"
                      minlength="8"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label for="name">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="confirm_password"
                      name="confirm_password"
                      placeholder="Confirm Password"
                      minlength="8"
                    />
                  </div>
                  <!-- Hidden input to provide value when unchecked  -->
                  <input type="hidden" name="is_admin" value="false" />
                  <div class="form-check form-switch mb-3">
                    <label class="form-check-label"> Admin user </label>
                    <input
                      type="checkbox"
                      class="form-check-input"
                      role="switch"
                      id="is_admin"
                      name="is_admin"
                      {% if user.is_admin %} checked {% endif %}
                    />
                  </div>
                  <!-- Hidden input to provide value when unchecked  -->
                  <input type="hidden" name="is_active" value="false" />
                  <div class="form-check form-switch mb-3">
                    <label class="form-check-label"> Active user </label>
                    <input
                      type="checkbox"
                      class="form-check-input"
                      role="switch"
                      id="is_active"
                      name="is_active"
                      {% if user.is_active %} checked {% endif %}
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Hidden modal for add user -->
  <div class="modal fade" id="addUserModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add User</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <form
          class="needs-validation"
          method="post"
          action="/users/add/"
          novalidate
        >
          <div class="modal-body">
            <div class="form-group mb-3">
              <label for="name">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                pattern="^[a-zA-Z0-9]{3,20}$"
                minlength="3"
                maxlength="20"
                required
              />
              <p>
                <small
                  >Must be between 3 and 20 characters long and alphanumeric
                  (a-z, 0-9)</small
                >
              </p>
            </div>
            <div class="form-group mb-3">
              <label for="name">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="name">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                minlength="8"
                required
              />
              <p><small>Must be between at least 8 characters long</small></p>
            </div>
            <div class="form-group mb-3">
              <label for="name">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="confirm_password"
                name="confirm_password"
                minlength="8"
                required
              />
            </div>
            <!-- Hidden input to provide value when unchecked  -->
            <input type="hidden" name="is_admin" value="false" />
            <div class="form-check form-switch mb-3">
              <label class="form-check-label">Admin User</label>
              <input
                type="checkbox"
                class="form-check-input"
                role="switch"
                id="is_admin"
                name="is_admin"
              />
            </div>
            <!-- Hidden input to provide value when unchecked  -->
            <input type="hidden" name="is_active" value="false" />
            <div class="form-check form-switch mb-3">
              <label class="form-check-label">Active</label>
              <input
                type="checkbox"
                class="form-check-input"
                role="switch"
                id="is_active"
                name="is_active"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-success">Add User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
